* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

a:hover {text-decoration: none;}

html,
body {
    min-height: 100%;
    background: #ffffff;
    position: relative;
    font-family: "Arial", sans-serif;
    max-width: 1280px;
    margin:auto;
}

body{
    
}



.conteiner {
    /**max-width: 1280px;**/

}

header {
    background: #445162;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headtextlist {
    max-width: 458px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 50px 50px 50px;
}

.headtextlist h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 60px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 50px 0;
}

.headtextlist ul {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    list-style-type: none;
    list-style-image: url(check_icon.png);
    padding-left: 30px;
}

.logo {
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    margin: 50px 50px 50px 50px;
}

main {
    padding-bottom: 26px;
}

.aboutprod {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.abouttext h2 {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

.abouttext p {
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}

.abouttext {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 50px 50px;
    max-width: 653px;
    justify-content: space-between;
}

.aboutimg {
    width: 430px;
    height: 245px;
    background-color: #445161;
    margin: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
}

.digpluscontainer {
    min-height: 415px;
    background: #f5f5f5;
}

.digplus {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 576px));
    grid-auto-flow: row;
    grid-gap: 27px;
    padding: 30px 50px 50px 50px;
    justify-content: center;
}

.digpluscontainer h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #445161;
    font-family: "Arial MT";
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 50px;
}

.digplus .pluses {
    display: flex;
    align-items: flex-start;
}

.digplus .pluses img {
    align-self: auto;
    margin-right: 9px;
    margin-top: 4px;
}

.digplus .pluses p {
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
}

.scrnshcontainer {
    background: #ffffff;
}

.scrnshcontainer h2 {
    display: flex;
    justify-content: center;
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 50px;
}

.scrinshots {
    display: grid;
    grid-gap: 28px;
    padding: 50px 50px 50px 50px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 576px));
    grid-auto-flow: row;
}

.scrsh {
    display: flex;
    align-items: flex-start;
}

.scrsh img {
    margin-right: 15px;
}

.scrsh .textscrblc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scrsh .textscrblc h3 {
    color: #445161;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}

.scrsh .textscrblc p {
    color: #333333;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.reviewscontainer {
    background: #f5f5f5;
}

.reviewscontainer h2 {
    color: #445161;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.reviewsgrid {
    display: grid;
    grid-gap: 24px;
    padding: 50px 50px 50px 50px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 574px));
    grid-auto-flow: row;
}

.reviews {
    display: flex;
}

.reviews img {
    width: 75px;
    height: 75px;
    margin-right: 28px;
}

blockquote {
    background: #ebebeb;
    position: relative;
    padding: 16px;
}

blockquote::before {
    content: "";
    width: 25px;
    height: 25px;
    top: 27px;
    left: -12px;
    background: #ebebeb;
    position: absolute;
    transform: rotate(45deg);
}

blockquote p {
    color: #333333;
    font-family: "Arial";
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

blockquote footer {
    color: #989898;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.buyitcontainer {
    background: #ffffff;
}

.buyitcontainer h2 {
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
}

.buyitvariants {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.standart,
.premium,
.lux {
    width: 300px;
    background: #445162;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #445162;
    border-radius: 5px;
    margin: 0 45px 45px 45px;
}

.standart h3,
.premium h3,
.lux h3 {
    color: #ffffff;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin: 17px 0;
}

.standart h1,
.premium h1,
.lux h1 {
    color: #445162;
    font-family: "Arial";
    font-size: 40px;
    font-weight: 400;
    line-height: 71px;
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.standart ol,
.premium ol,
.lux ol {
    margin: 0;
}

.standart ol li,
.premium ol li,
.lux ol li {
    color: #ffffff;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.buybut {
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    color: #445161;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.contform {
    background: #445162;
}

.contform h2 {
    color: #ffffff;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    justify-content: center;
    padding: 50px 0 30px 0;
    margin: 0;
}

.formncontlinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.fieldsetform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.forsubmit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fieldsetform input {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
}

.fieldsetform textarea {
    width: 100%;
    height: 170px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 13px;
}

input[type="submit"] {
    width: 140px;
    height: 40px;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #445162;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5px;
}

.contlinks {
    margin-left: 45px;
}

.contlinks p {
    color: #ffffff;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.contact {
    margin-bottom: 29px;
    width: 240px;
    display: flex;
    align-items: center;
}

#contact1::before {
    content: url(skype_icon.png);
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

#contact2::before {
    content: url(icq_icon.png);
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

#contact3::before {
    content: url(email_icon.png);
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

#contact4::before {
    content: url(phone_icon.png);
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.soclinks {
    padding-bottom: 20px;
}

.mainfooter {
    min-height: 26px;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #445162;
    font-family: "Arial MT";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
