* {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

html,
body {
    min-height: 100%;
    background: #ffffff;
    position: relative;
    font-family: "Arial", sans-serif;
    font-weight: 400;
    min-width: 100%;
    /*    max-width: 100%;*/
    margin: auto;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1280px;
        padding: 0;
        justify-content: space-between;
    }

    #digplus,
    #scrinshots,
    #reviewsgrid {
        grid-template-columns: repeat(auto-fit, 48%);
    }

    .abouttext {
        width: 52%;
    }

    .aboutimg {
        width: 30%;
    }

    html,
    body {
        font-size: 16px;
        margin: auto;
    }

    #digplus .pluses img {
        width: 10%;
    }

    .standart,
    .premium,
    .lux {
        width: 24%;
    }

    form {
        width: 39%;
    }
    .headtextlist {
        max-width: 38%;}
}

@media (max-width: 768px) {
    .container {
        justify-content: center;
    }

    .abouttext {
        width: 100%;
    }

    #digplus,
    #scrinshots,
    #reviewsgrid {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .aboutimg {
        width: 100%;
    }

    html,
    body {
        font-size: 14px;
        margin: auto;
    }

    #digplus .pluses img {
        width: 5%;
    }

    .standart,
    .premium,
    .lux {
        width: 48%;
    }

    form {
        width: 80%;
    }
        .headtextlist {
        max-width: 80%;}
}

@media (max-width: 576px) {
    .container {
        justify-content: center;
    }

    .abouttext {
        width: 100%;
    }

    #digplus,
    #scrinshots,
    #reviewsgrid {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .aboutimg {
        width: 100%;
    }

    html,
    body {
        font-size: 12px;
        margin: auto;
    }

    #digplus .pluses img {
        width: 3%;
    }

    .standart,
    .premium,
    .lux {
        width: 70%;
    }

    form {
        width: 80%;
    }
        .headtextlist {
        max-width: 80%;}
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background: #445162;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.headtextlist {
/*    max-width: 458px;*/
/*    max-width: 38%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4%;
}

.headtextlist h1 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 3.75rem;
    line-height: 45px;
    margin: 0 0 50px 0;
}

.headtextlist ul {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 1.25rem;
    line-height: 36px;
    list-style-type: none;
    list-style-image: url(check_icon.png);
    padding-left: 30px;
}

.logo {
    background-color: #ffffff;
    width: 469px;
    height: 214px;
    margin: 4%;
    background-image: url(../img/trex.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    padding-bottom: 1.63rem;
}

.abouttext h2 {
    color: #445161;
    font-size: 1.88rem;
    line-height: 36px;
    margin-bottom: 30px;
}

.abouttext p {
    color: #333333;
    line-height: 24px;
    text-align: justify;
}

.abouttext {
    display: flex;
    flex-direction: column;
    margin: 4% 0 4% 4%;
    justify-content: space-between;
}

.aboutimg {
    /*width: 430px;
    height: 245px;*/
    /*    width: 30%;*/
    background-color: #445161;
    margin: 4%;
    display: flex;
    align-items: center;
}

video {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.digpluscontainer {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}

#digplus {
    display: grid;
    /*    grid-template-columns: repeat(auto-fit, minmax(100px, 576px));*/
    /*    grid-template-columns: repeat(auto-fit, 48%);*/
    /*    grid-template-columns: repeat(auto-fit, minmax(400px, 48%));*/
    grid-auto-flow: row;
    gap: 1.69rem;
    padding: 3%;
    justify-content: center;
}

.digpluscontainer h2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #445161;
    font-size: 1.88rem;
    line-height: 1.88rem;

}

#digplus .pluses {
    display: flex;
    align-items: flex-start;
}

#digplus .pluses img {
    margin-right: 1%;
    margin-top: 0.5%;
    display: flex;
}

#digplus .pluses p {
    color: #333333;
    line-height: 1.32rem;
    text-align: justify;
}

.scrnshcontainer {
    background: #ffffff;
}

.scrnshcontainer h2 {
    display: flex;
    justify-content: center;
    color: #445161;
    font-size: 1.88rem;
    line-height: 2.25rem;
    padding-top: 3%;
}

#scrinshots {
    display: grid;
    gap: 1.69rem;
    padding: 3%;
    justify-content: center;
    grid-auto-flow: row;
}

.scrsh {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.scrsh img {
    margin-right: 3%;
}

.scrsh .textscrblc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scrsh .textscrblc h3 {
    color: #445161;
    font-size: 1.5rem;
    line-height: 1.88rem;
    margin-bottom: 3%;
}

.scrsh .textscrblc p {
    color: #333333;
    line-height: 1.38rem;
}

.reviewscontainer {
    background: #f5f5f5;
}

.reviewscontainer h2 {
    color: #445161;
    font-size: 1.88rem;
    line-height: 2.25rem;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

#reviewsgrid {
    display: grid;
    grid-gap: 1.5rem;
    padding: 3%;
    justify-content: center;
    grid-auto-flow: row;
}

.reviews {
    display: flex;
}

.reviews img {
    margin-right: 6%;
    align-self: flex-start;
}

blockquote {
    background: #ebebeb;
    position: relative;
    padding: 3%;
}

blockquote::before {
    content: "";
    width: 25px;
    height: 25px;
    top: 27px;
    left: -12px;
    background: #ebebeb;
    position: absolute;
    transform: rotate(45deg);
}

blockquote p {
    color: #333333;
    font-style: italic;
    font-size: 0.88rem;
    line-height: 1.13rem;
}

blockquote footer {
    color: #989898;
    font-size: 0.88rem;
    line-height: 1.13;
}

.buyitcontainer {
    background: #ffffff;
}

.buyitcontainer h2 {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

#buyitvariants {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}

.standart,
.premium,
.lux {
    background: #445162;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #445162;
    border-radius: 5px;
    margin: 3%;
}

.standart h3,
.premium h3,
.lux h3 {
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1.88rem;
    display: flex;
    justify-content: center;
    margin: 5.5% 0;
}

.standart h1,
.premium h1,
.lux h1 {
    color: #445162;
    font-size: 2.5rem;
    line-height: 4.44rem;
    background: white;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 6%;
}

.standart ol,
.premium ol,
.lux ol {
    margin: 0;
}

.standart ol li,
.premium ol li,
.lux ol li {
    color: #ffffff;
    font-size: 0.88rem;
    line-height: 1.5rem;
}

.buybut {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    color: #445161;
    font-size: 1.13rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    text-decoration: none;
}

.standart a,
.premium a,
.lux a {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.5%;

}

.contform {
    background: #445162;
}

.contform h2 {
    color: #ffffff;
    font-size: 1.88rem;
    line-height: 2.25rem;
    display: flex;
    justify-content: center;
    padding: 3% 0 2% 0;
    margin: 0;
}

#formncontlinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 3%;
}



.fieldsetform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.forsubmit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fieldsetform input {
    width: 100%;
/*    height: 40px;*/
    line-height: 2.5rem;
    background-color: #ffffff;
    margin-bottom: 3%;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 0.63rem;
}

.fieldsetform input[placeholder="Your name:"] {
    background-image: url(../img/profile.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 4%;
    padding-left: 5%;

}

.fieldsetform input[placeholder="Your email:"] {
    background-image: url(../img/at_sign.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 4%;
    padding-left: 5%;
}

.fieldsetform input[placeholder="Your topic:"] {
    background-image: url(../img/important_message.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 4%;
    padding-left: 5%;
}


.fieldsetform textarea {
    width: 100%;
    min-height: 150px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 5%;
    padding-top: 3%;
}

input[type="submit"] {
    width: 140px;
    height: 40px;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #445162;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 5px;
}

.progress {
    margin-bottom: 5%;
}

.contlinks {
    margin-left: 45px;
    /**width: 32%;**/

}

.contlinks p {
    color: #ffffff;
    line-height: 24px;
    margin: 0;
}

.contact {
    margin-bottom: 12%;
    /**width: 240px;**/
    display: flex;
    align-items: center;
}

#contact1::before {
    content: url(skype_icon.png);
    width: 10%;
    margin-right: 5px;
}

#contact2::before {
    content: url(icq_icon.png);
    width: 10%;
    margin-right: 5px;
}

#contact3::before {
    content: url(email_icon.png);
    width: 10%;
    margin-right: 5px;
}

#contact4::before {
    content: url(phone_icon.png);
    width: 10%;
    margin-right: 5px;
}

.soclinks {
    padding-bottom: 20px;
}

.mainfooter {
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #445162;
    font-size: 0.75rem;
    line-height: 1.63rem;
    letter-spacing: 0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
